// Base colors
$primary: #1abc9c;
$secondary: #ededed;

$gold: #2980b9;
$white: #fff;
$black: #000;

$text-color-gray: #37363e;

$background: #f7f7f7;

// Font-family
$serif: 'Podkova', serif;

$min-width: 1100px;
