// Base colors
$primary: #00cc6a;
$secondary: #ededed;

$gold: #ffd700;
$white: #fff;
$black: #000;

$text-color-gray: #37363e;

$background: #f7f7f7;

// Font-family
$sans: 'Merriweather Sans', sans-serif;
$serif: 'Podkova', serif;

$min-width: 1100px;
