.button {

    display: inline-block;
    transition: 200ms;
    border: 2px solid $primary;
    border-radius: 3px;
    background: $primary;
    padding: 14px 40px 13px;
    color: $white;
    font-family: $sans;
    font-size: .8em;
    font-weight: 300;


    &:hover {
        border: 2px solid $primary;
        background: none;
        color: $primary;
        box-sizing: border-box;
    }
}
