// ---
// Base colors
$white: #fff;
$black: #000;

// ---
// Blue color
$color-blue-10: #1f63e0;
$color-blue-20: #3875e4;
$color-blue-30: #5186e7;
$color-blue-40: #6a97eb;
$color-blue-50: #0652dd;
$color-blue-60: #054ac7;
$color-blue-70: #0542b1;
$color-blue-80: #04399b;
$color-blue-90: #043185;

// ---
// Font-family
$font-family-base: "Podkova", serif;
