@import "settings";

* {
  margin: 0;
  padding: 0;
}

html {
  animation: 3000ms ease 100ms normal none infinite animate;
  animation-direction: alternate;

  background-color: $white;

  @keyframes animate {
    0% {
      background-color: $white;
    }
    100% {
      background-color: $color-blue-10;
    }
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  animation: 3000ms ease 100ms normal none infinite animatete;
  animation-direction: alternate;
  font-family: $font-family-base;
  font-size: 55px;

  @keyframes animatete {
    0% {
      color: $color-blue-90;
    }
    100% {
      color: $white;
    }
  }
}
